html {
    font-size: 125%;
}

body {
    font-size: 1rem;
}

.wrapper {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

body {
    background: lighten($secondaryAccent,40%);
    color: $mainDark;
    font-family: $mainFont;
}

body > div, .App {
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    > div {
        flex-grow: 1;
    }
}

header {
    padding: 40px 0;
    background: darken($secondaryAccent,20%);
    color: $mainLight;
    h1 {
        font-size: 2rem;
        text-align: center;
        text-shadow: 3px 3px 0 $mainAccent;
    }
}

h1,h2,h3, button {
    font-family: $secondaryFont;
    font-weight: normal;
}

main {
    padding: 20px 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    label {
        display: block;
        width: 100%;
    }
    input {
        flex-grow: 1;
    }
}

button {
    background: $mainAccent;
    color: $mainDark;
    border: $mainAccent 2px solid;
    padding: 5px 20px;
    &:hover, &:focus {
        color: $mainAccent;
        background: $mainDark;
    }
    &:disabled {
        color: $mainDark;
        background: lighten($mainDark,50%);
        border-color: lighten($mainDark,50%);
    }
}

ul {
    li {
        display: flex;
        margin: 20px 0;
        // border: 4px $mainDark solid;
        background: lighten($secondaryAccent,30%);
        box-shadow: 10px 10px 0 $secondaryAccent;
        align-items: stretch;
        .textContent {
            flex-grow: 1;
            padding: 10px;
        }
        
    }
}

.voteKnob {
    display: flex;
    align-items: stretch;
    p {
        align-self: center;
        padding: 0 5px;
        text-align: center;
    }
    button {
        padding: 2px 10px;
    }
    p, button {
        min-width: calc(2rem);
    }
}
.returnButton {
    display: block;
    margin: 20px auto;
}

h2 {
    margin: 20px 0;
}

footer {
    padding: 40px 0;
    background: darken($secondaryAccent,20%);
    color: $mainLight;
    text-align: center;
}