.wrapper {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

body {
    background: $mainBackground;
    color: $mainColor;
}

body > div, .App {
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    > div {
        flex-grow: 1;
    }
}

header {
    padding: 40px 0;
    background: $secondaryBackground;
    color: $secondaryColor;
    h1 {
        text-align: center;
        text-shadow: 3px 3px 0 $mainAccent;
    }
}

main {
    padding: 20px 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    label {
        display: block;
        width: 100%;
    }
    input {
        flex-grow: 1;
    }
}

button {
    background: $mainAccent;
    color: $mainColor;
    border: $mainAccent 2px solid;
    padding: 5px 20px;
    &:hover, &:focus {
        color: $mainAccent;
        background: $mainColor;
    }
}

ul {
    li {
        display: flex;
        margin: 20px 0;
        border: 4px $secondaryBackground solid;
        align-items: center;
        padding: 10px;
        .textContent {
            flex-grow: 1;
        }
    }
}
.voteKnob {
    display: flex;
    align-items: center;
}
.returnButton {
    display: block;
    margin: 0 auto;
}

h2 {
    margin: 20px 0;
}

footer {
    padding: 40px 0;
    background: $secondaryBackground;
    color: $secondaryColor;
    text-align: center;
}