$mainLight: #ffffff;
$mainDark: #000000;
$mainAccent: #ff00aa;
$secondaryAccent: #00aaff;

@import url('https://fonts.googleapis.com/css?family=Barlow|Nova+Mono&display=swap');

$mainFont: 'Barlow', sans-serif;
$secondaryFont: 'Nova Mono', monospace;